##############################################
##ECLIPSE - ADVANTAGE
##C:\Users\Administrator\git
##CONTAINS FOLLOWING FOLDERS .GIT & ADVANTAGE
##############################################

bin/